title: Matias Bilkis
author:
  name: Matias Bilkis
url: ""
baseurl: ""

markdown: kramdown
kramdown:
  input: GFM

collections:
  pages:
    output: true
    permalink: /:name

plugins:
  - jekyll-seo-tag
